%%% -*- mode:erlang -*-
[
 {sasl,   [{sasl_error_logger, {file, "/tmp/portius.sasl_log"}}]},
 
 {gas,
  [
   {mod_specs, [{elwrap, {ewl_elwrap_h, start_link}}]},
   
   %% elwrap config.
   {err_log, "/tmp/portius.err_log"},
   {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}},
   {err_log_tty, false}
  ]
 },

 {portius, 
  [
   {inspection_frequency, 30000},
   {transitions,  
    [
     %% <from-repo>, <to-repo>, <generated-docs-base-dir>, <app-index-source-file>, <app-index-file>, <webserver-doc-root>
     {"/var/www/htdocs/repo/writable", "/var/www/htdocs/repo/pub", "/var/www/htdocs/martinjlogan/repo-doc", 
      "/var/www/htdocs/martinjlogan/repo-doc/index.html.src", "/var/www/htdocs/martinjlogan/repo-doc/index.html", 
      "/var/www/htdocs/martinjlogan"}
    ]
   }
  ]
 }
]. 

