%%% -*- mode:erlang -*-
[
 {sasl,   [{sasl_error_logger, {file, "/tmp/portius.sasl_log"}}]},
 
 {gas,
  [
   {mod_specs, [{elwrap, {ewl_elwrap_h, start_link}}]},
   
   %% elwrap config.
   {err_log, "/tmp/portius.err_log"},
   {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}},
   {err_log_tty, false}
  ]
 },

 {portius, 
  [
   {inspection_frequency, 30000},

   %% Transitions define a move from one repo to another.
   {transitions,  
    [
     %% <transition-id> <from-repo>, <to-repo>, <signed|unsigned>
     {pub, "/var/www/htdocs/repo/writable", "/var/www/htdocs/repo/pub", unsigned} 
    ]
   },
   
   %% Doc specs are optional.  They define how to create web ready
   %% documentation for your repo server.
   %%
   %% <transition-id>, # This is the id that will tie this config back to a
   %%                  # transition.
   %% <webserver-doc-root>, 
   %% <generated-docs-base-dir>, # The root dir that will contain all generated
   %%                              docs 
   %% <app-index-file-src>, # The template file that will be used to generate
   %%                       # the <app-index-file>
   %%                       # This may be the same as the <app-index-file> in
   %%                       # which case the original will be copied out to a 
   %%                       # file of the same name with the suffix .src for
   %%                       # safe keeping prior to rendering the final page.
   %% <app-index-file>, # The page that will index all app docs.  Must be
   %%                   # somewhere under the <web-server-doc-root>
   %% <release-index-file-src> # The template file that will be used to
   %%                          # generate the <release-index-file>
   %%                          # This may be the same as the <app-index-file>
   %%                          # in which case the original will be copied out
   %%                          # to a file of the same name with the suffix
   %%                          # .src for safe keeping prior to rendering the
   %%                          # final page
   %% <release-index-file> # The page that will index all release docs.  Must
   %%                      # be somewhere under the <web-server-doc-root>
   {doc_specs, 
    [
     {pub, 
      "/var/www/htdocs/martinjlogan",
      "/var/www/htdocs/martinjlogan/repo-doc", 
      "/var/www/htdocs/martinjlogan/repo-doc/lib_index.html.src", 
      "/var/www/htdocs/martinjlogan/repo-doc/lib_index.html", 
      "/var/www/htdocs/martinjlogan/repo-doc/releases_index.html.src",
      "/var/www/htdocs/martinjlogan/repo-doc/releases_index.html"}
    ]
   },

   %% No doc lists instruct portius not to render the docs for a particular
   %% package. The lists are of the form:
   %% {pub, [{<release|app>, <package-name>}]}
   %% Examples:
   %%  {pub, [{app, "stdlib"}]}
   {no_doc_list,
    [
     {pub,
      [
       {app, appmon},
       {app, asn1},
       {app, common_test},
       {app, compiler},
       {app, cosEvent},
       {app, cosEventDomain},
       {app, cosFileTransfer},
       {app, cosNotification},
       {app, cosProperty},
       {app, cosTime},
       {app, cosTransactions},
       {app, crypto},
       {app, debugger},
       {app, dialyzer},
       {app, docbuilder},
       {app, edoc},
       {app, erl_interface},
       {app, et},
       {app, gs},
       {app, hipe},
       {app, ic},
       {app, inets},
       {app, inviso},
       {app, jinterface},
       {app, kernel},
       {app, megaco},
       {app, mnesia},
       {app, observer},
       {app, orber},
       {app, os_mon},
       {app, otp_mibs},
       {app, parsetools},
       {app, percept},
       {app, pman},
       {app, runtime_tools},
       {app, sasl},
       {app, snmp},
       {app, ssh},
       {app, ssl},
       {app, stdlib},
       {app, syntax_tools},
       {app, test_server},
       {app, toolbar},
       {app, tools},
       {app, tv},
       {app, typer},
       {app, webtool},
       {app, xmerl}
      ]
      }
     ]
    },

   %% Signatures are digital signatures for specific packages.
   %% The signature tuple is of the following form:
   %% <transition-id>, <type>, <area>, <package-name>, <rsa-modulus>, <rsa-exponent> 
   %% Examples:
   %%  {pub, erts, "linux-x86", erts, 12123232, 435433},
   %%  {pub, application, "Generic", faxien, 12123232, 435433},
   %%  {pub, application, "Generic", portius, 12123232, 435433},
   %%  {pub, release, "Generic", faxien, 12123232, 435433},
   %%  {pub, release, "Generic", portius, 12123231, 435433}
   {signatures,
    [
    ]
   }
  ]
 }
].  


